body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

input[type="text"] {
    border: 1px solid #000;
    padding: 5px;
}

#posts {
    display: grid;
    grid-template-columns: 32.3% 32.3% 32.3%;
    grid-gap: 20px;
    padding: 20px;
}

.post {
    padding: 20px;
    text-align: center;
    border: 1px solid #999;
}

button {
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.post button {
    background-color: #555;
}

.post button:hover {
    background-color: #777;
}

.addPost {
    color: #000;
    text-decoration: none;
}

.addPost:hover {
    color: #333;
}

#search {
    border-radius: 20px;
}

#buttons {
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#login {
    color: #fff;
    text-decoration: none;
    margin: 0px 20px;
}

a {
    text-decoration: none;
    color: white;
}

select {
    padding: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

option {
    background-color: #000;
    color: #fff;
}

select {
    text-align: center;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
    width: 100%;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: black;
    color: white;
}

.pagination a.disabled {
    pointer-events: none;
    color: #ddd;
    cursor: not-allowed;
}
