<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blogs</title>
    <link rel="stylesheet" href="css/blog-page.css">
</head>
<body>
    <header>
        <a th:href = "@{/}"><h1>My Blog Application</h1></a>
        <div>
            <input type="text" placeholder="Search" id = "search">
            <a href="#" id = "login">Login</a>
        </div>
    </header>
    <div id = "buttons">
        <a th:href="@{/newpost}" id = "addPost"><button>Add Post</button></a>
    </div>
    <div id = "posts">
        <div th:each = "post: ${posts}" class = "post">
            <h2 th:text = "${post.title}"></h2>
            <p th:text = "${post.author + ', ' + #dates.format(post.publishedAt, 'dd/MM/YYYY')}"></p>
            <p th:text = "${post.excerpt}"></p>
            <a th:href="@{/post{postId}(postId=${post.id})}"><button>View</button></a>
            <a th:href="@{/editpost{postId}(postId=${post.id})}"><button>Edit</button></a>
            <a th:href="@{/deletepost{postId}(postId=${post.id})}"><button>Delete</button></a>
        </div>
    </div>
</body>
</html>