<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blogs</title>
    <link rel="stylesheet" href="css/blog-page.css">
</head>
<body>
    <header>
        <a th:href = "@{/}"><h1>My Blog Application</h1></a>
        <div>
            <input type="text" placeholder="Search" id = "search">
            <a href="#" id = "login">Login</a>
        </div>
    </header>
    <div id = "buttons">
        <form th:action="@{/(selectedOption = ${selectedOption})}" method="GET">
            <select id="dropdown" name="selectedOption" onchange="this.form.submit()">
                <option value="default" th:selected="${defaultOption eq 'default'}">Sort by</option>
                <option value="PublishedAtAsc" th:selected="${defaultOption eq 'PublishedAtAsc'}">Published Date (Asc)</option>
                <option value="PublishedAtDesc" th:selected="${defaultOption eq 'PublishedAtDesc'}">Published Date (Desc)</option>
            </select>
        </form>
        <a th:href="@{/newpost}" id = "addPost"><button>Add Post</button></a>
    </div>
    <div id = "posts">
        <div th:each = "post: ${posts}" class = "post">
            <h2 th:text = "${post.title}"></h2>
            <p th:text = "${post.author + ', ' + #dates.format(post.publishedAt, 'dd/MM/YYYY')}"></p>
            <p th:text = "${post.excerpt}"></p>
            <a th:href="@{/post{postId}(postId=${post.id})}"><button>View</button></a>
            <a th:href="@{/editpost{postId}(postId=${post.id})}"><button>Edit</button></a>
            <a th:href="@{/deletepost{postId}(postId=${post.id})}"><button>Delete</button></a>
        </div>
    </div>

    <div class="pagination">
        <a th:href="@{/(selectedOption = ${defaultOption}, page = ${currentPage - 1})}" th:classappend="${currentPage != 0 ? '': 'disabled'}">&laquo; Prev</a>
        <a th:classappend = "${currentPage == i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages)}"  th:href="@{/(selectedOption = ${defaultOption}, page=${i-1})}">
            <span th:text="${i}"></span>
        </a>
        <a th:href="@{/(selectedOption = ${defaultOption}, page = ${currentPage + 1})}" th:classappend="${currentPage+1 != totalPages ? '': 'disabled'}">Next &raquo;</a>
    </div>
</body>
</html>