<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" th:href = "@{/css/filter.css}">
    <title>Blog Post Form</title>
</head>
<body>
<header>
    <a th:href = "@{/}"><h1>My Blog Application</h1></a>
</header>

<h2>Filter</h2>
<form th:action="@{/}" method="GET">
    <label for="author">Author:</label>
    <input type="text" id="author" name="author">

    <label for="publishedDate">Published Date:</label>
    <input type="date" id="publishedDate" name="publishedDate">

    <label for="tags">Tags (comma-separated):</label>
    <input type="text" id="tags" name="tagList">

    <button type="submit">Apply</button>
</form>

</body>
</html>