<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <title>Blogs</title>
    <link rel="stylesheet" href="css/new-post.css">
</head>
<body>
    <header>
        <a th:href = "@{/}"><h1>My Blog Application</h1></a>
    </header>

    <form th:action="@{/addpost}" method="post" th:object="${post}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" required>

        <label for="excerpt">Excerpt:</label>
        <input type="text" id="excerpt" name="excerpt" th:field="*{excerpt}" required>

        <label for="content">Content:</label>
        <textarea id="content" name="content" th:field="*{content}" rows="6" required></textarea>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author"
               th:value="${#strings.toUpperCase(#authentication.principal.username)}" disabled>

        <label for="tags">Tags (comma-separated):</label>
        <input type="text" id="tags" name="tags" th:field="${tag.name}" required>

        <button type="submit">Create Post</button>
    </form>
</body>
</html>