<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blogs</title>
    <link rel="stylesheet" th:href="@{/css/view-post.css}">
</head>
<body>
<header>
    <a th:href = "@{/}"><h1>My Blog Application</h1></a>
    <div>
        <a href="#" id = "login">Login</a>
    </div>
</header>

<div th:object = "${post}" class = "blog">
    <div class = "post">
        <p th:text = "*{title}" id = "heading"></p>
        <p th:text="*{author + ', ' + #dates.format(publishedAt, 'dd/MM/YYYY')}" class = "author"></p><br><br>
        <p th:text = "*{content}"></p><br><br>
    </div>
    <div th:each = "tag: ${post.tags}" class = "tags">
        <span th:text = "${tag.name}" class = "tag"></span>
    </div>
    <div>
        <a th:href="@{/editpost{postId}(postId=${post.id})}"><button>Edit</button></a>
        <a th:href="@{/deletepost{postId}(postId=${post.id})}"><button>Delete</button></a>
    </div>
</div>

<p class = "comment-heading">Comments</p>
<div th:each="tempComment: ${post.comments}">
    <div th:if = "${commentId != tempComment.id}" class = "comment">
        <p th:text="*{tempComment.name}"></p>
        <p th:text="*{tempComment.email}" class = "email"></p>
        <p th:text="*{tempComment.comment}" class = "comment-message"></p>
        <a th:href="@{/editcomment/{postId}/{commentId}(postId=${post.id}, commentId=${tempComment.id})}">
            <button>Edit</button>
        </a>
        <a th:href="@{/deletecomment/{postId}/{commentId}(postId=${post.id}, commentId=${tempComment.id})}">
            <button>Delete</button>
        </a>
    </div>
    <div th:if = "${commentId == tempComment.id}" class = "comment">
        <form th:object="${tempComment}" th:action="@{/updatecomment/{postId}/{commentId}(postId=${post.id}, commentId=${tempComment.id})}" method="POST">
            <p th:text="*{name}"></p>
            <p th:text="*{email}"></p>

            <label for="comment">Edit Comment:</label>
            <input type="text" id="comment" name="editComment" th:value="${tempComment.comment}" required>

            <input type="submit" value="Done"/>
        </form>
    </div>
</div>

<div th:if = "${commentId == null}" class="add-comments">
    <p class = "comment-heading">Add Comment</p>
    <form th:action="@{/createComment{postId}(postId=${post.id})}" method="post" th:object="${editComment}">
        <label for="title">Comment:</label>
        <input type="text" id="title" name="title" th:field="*{comment}" required>

        <button type="submit">Comment</button>
    </form>
</div>
</body>
</html>